.catalog {
    .header__wrapper {
        .header__wrapper__container {
            .nav {
                .nav__top-list {
                    li:nth-child(4) {
                        .nav__top-list__link {
                            .korzina-bgcolor {
                                background-color: $basic-red;
                            }
                        }
                    }
                }
                .nav__middle-list {
                    li:nth-child(3) {
                        margin-right: 0px;
                        .catalog-page-logged-in {
                            .login-link {
                                width: 299px;
                                background: {
                                    image: url(/assets/photos/symbols/icon-logout.svg);
                                    position-x: 262px;
                                }
                                &:hover {
                                    transition: all 0.3s ease;
                                    background: {
                                        image: url(/assets/photos/symbols/icon-logout-hover.svg);
                                    }
                                    .user-icon {
                                        background: {
                                            image: url(/assets/photos/symbols/icon-user-hover.svg);
                                        }
                                    }
                                }
                                &:active {
                                    background: {
                                        image: url(/assets/photos/symbols/icon-logout.svg);
                                    }
                                    .user-icon {
                                        background: {
                                            image: url(/assets/photos/symbols/icon-user.svg);
                                        }
                                    }
                                }
                                .user-icon {
                                    width: 20px;
                                    height: 18px;
                                    position: absolute;
                                    left: 16px;
                                    background: {
                                        image: url(/assets/photos/symbols/icon-user.svg);
                                        repeat: no-repeat;
                                        position: center;
                                    }
                                }
                                .user-name {
                                    left: 0;
                                    top: 0;
                                }
                            }
                            .user-purchases {
                                display: flex;
                                text-align: left;
                                position: absolute;
                                left: 44px;
                                top: 41px;
                                width: 250px;
                                color: $bottom-navbar-bg-color;
                                font: {
                                    family: $f-family-cuprum;
                                    size: 16px;
                                }
                                background: {
                                    image: url(/assets/photos/symbols/dot.svg);
                                    repeat: no-repeat;
                                    position: 89px 7px;
                                }
                                .user-data {
                                    text-align: right;
                                    position: absolute;
                                    left: 107px;
                                    top: 0px;
                                }
                            }
                            &:hover {
                                .user-purchases {
                                    color: $basic-red;
                                    background: {
                                        image: url(/assets/photos/symbols/dot-hover.svg);
                                    }
                                }       
                            }
                        }
                    }
                    li:nth-child(4) {
                        display: none;
                    }
                }
            }
        }
    }
}

.body-layout {
    .body-layout__wrapper {
        .perforators {
            display: flex;
            flex-flow: column;
            padding: 0px calc(50% - 470px);
            .perforators__links {
                .perforators__links__list {
                    // global code for 'li' selector
                    // li {}
                    // individual ones for every 'li' selectors
                    // li:nth-child(1) {}
                    // li:nth-child(2) {}
                    // li:nth-child(3) {}
                    // li:nth-child(4) {}
                }
            }
            .perforators__header {

                .perforators__header__title {
                    position: relative;
                    left: 0px;
                    top: 0px;
                }
            }
        }
    }
}