// -> font-family
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// -> color styles

$basic-red: #EE3643;
$basic-black: #000000;
$basic-green: #63A63E;
$basic-grey: #3D546F;
$basic-greylight: #C5C5C5;
$basic-background: #F1F5F7;
$basic-white: #FFFFFF;
$special-yellow: #FFBF47;
$special-blue: #3BBCE3;
$special-lilac: #DC91D8;
$special-greenlight: #8ED78F;
$special-yellowlight: #FFD180;
$special-greylight: #EAEAEA;
$success: #5FBB2D;
$warning: #FFBF47;
$error: #BA2732;
$top-navbar-bg-color: #293449;
$bottom-navbar-bg-color: #32425C;
$bottom-navbar-box-shadow: inset 0px -5px 0px #293449;
$middle-bottom-navbar-bg-color: rgba(0, 0, 0, 0.0001);
$button-hover: #CA2C37;
$button-active: #BA2732;
$buy-button-bgcolor-active: #518534;
$past-cost-color: #A9A9A9;
$second-con-bg-color: #F9F5F0;
$top-nav-btn-hover: #242f42;
$top-nav-btn-active: #161D29;
$top-nav-btn-f-color-active: rgba(255, 255, 255, 0.5);
$footer-social-media-links: #212A3A;

// ----------------------------- //

// -> other styles

$padding: 0px calc(50% - 470px);
$f-family-cuprum: 'Cuprum', sans-serif;
$f-family-ptsans: 'PT Sans', sans-serif;
$title-font-size: 24px;
$default-font-size: 18px;
$default-font-weight: 400;
$default-font-style: normal;



// ----------------------------- //

// default tag styles

.input-default, .button-default {
    width: 192px;
    height: 38px;
    background: $basic-red;
    color: $basic-white;
    border: none;
    cursor: pointer;
    font: {
        family: 'Cuprum';
        weight: 400;
        size: 14px;
    }
    line-height: 18px;
}
.input-default, .button-default {
    &:hover {
        transition: all 0.3s ease;
        background: $button-hover;
    }
    &:active {
        background: $button-active;
    }
}

// product box

.product-box {
    width: 217px;
    height: 316px;
    background: $basic-white;
    border: 1px solid $special-greylight;
    .product-box__image {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        background: {
            image: url(/assets/photos/other/Карточка\ товара\ 1.svg);
            position: -2px -1px;
        }
    }
    .product-box__buy {
        display: none;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        .product-box__buy__btn,
        .product-box__add__btn {
            width: 135px;
            height: 38px;
            text-transform: uppercase;
            border-radius: 0px 2px 0px 0px;
            font-family: $f-family-cuprum;
            font-size: 14px;
            line-height: 18px;
        }
        .product-box__buy__btn {
            background: #63A63E;
            box-shadow: inset 0px -3px 0px #367315;
            position: relative;
            left: 0px;
            top: -4px;
            background: {
                image: url(/assets/photos/symbols/icon-cart.svg);
                repeat: no-repeat;
                position: 31px 10px;
            }
            span {
                position: relative;
                left: 7px;
                top: 1px;
            }
        }
        .product-box__add__btn {
            background: $basic-white;
            color: $bottom-navbar-bg-color;
            border: 3px solid $basic-green;
            position: relative;
            left: 0px;
            top: 7px;
            span {
                position: relative;
                left: 0px;
                top: 0px;
            }
        }
        .product-box__buy__btn, .product-box__add__btn {
            &:hover {
                transition: all 0.3s ease;
            }
        }
        .product-box__add__btn:hover {
            border-color: $bottom-navbar-bg-color;
        }
        .product-box__add__btn:active {
            filter: opacity(0.5);
        }
        .product-box__buy__btn {
            background: {
                image: url(/assets/photos/symbols/icon-cart.svg);
                repeat: no-repeat;
                position: 31px 10px;
            }
            &:hover {
                background: $success;
                background: {
                    image: url(/assets/photos/symbols/icon-cart.svg);
                    repeat: no-repeat;
                    position: 31px 10px;
                }
            }
            &:active {
                background: $buy-button-bgcolor-active;
                background: {
                    image: url(/assets/photos/symbols/icon-cart.svg);
                    repeat: no-repeat;
                    position: 31px 10px;
                }
            }
        }
    }
    .product-box__article {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        .product-box__article__title {
            color: $basic-black;
            position: relative;
            left: 0px;
            top: -10px;
            text: {
                align: center;
            }
            font: {
                size: 18px;
                weight: 700;
            }            
        }
        .product-box__article__past-cost {
            position: relative;
            left: 0px;
            top: -5px;
            line-height: 18px;
            color: $past-cost-color;
            font: {
                family: $f-family-ptsans;
                weight: 700;
                size: 17px;
            }
            text: {
                align: center;
                decoration: line-through;
                transform: uppercase;
            }
        }
        .product-box__article__new-cost {
            width: 141px;
            height: 38px;
            background: none;
            position: relative;
            left: 7px;
            top: 8px;
            background: {
                image: url(/assets/photos/other/red-button.svg);
                repeat: no-repeat;
            }
            span {
                font: {
                    family: $f-family-ptsans;
                    weight: 700;
                    size: 17px;
                }
                line-height: 18px;
                position: relative;
                left: 0px;
                top: 0px;
            }
        }
    }
    &:hover {
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
        transition: all 0.3s ease;
        .product-box__image {
            display: none;
        }
        .product-box__buy {
            display: flex;
            .product-box__buy__btn {
                animation: buy-and-add-btns 0.4s ease;
            }
            .product-box__add__btn {
                animation: buy-and-add-btns 0.6s ease;
            }
        }
    }
    @keyframes buy-and-add-btns {
        0% {
            transform: translateY(40px);
        }
        75% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}


////////////////////////////

// header and footer code will be placed here

* {
    padding: 0;
    margin: 0;
}

html {
    background: $basic-white;
    color: $basic-black;
    font: {
        family: $f-family-ptsans;
        size: $default-font-size;
        weight: $default-font-weight;
        style: $default-font-style;
    }
    h1,h2,h3,h4,h5,h6 {
        font-size: $title-font-size;
    }
    ul, ol {
        list-style: {
            type: none;
        }
    }
    a {
        color: $basic-green;
        text-decoration: none;
    }
}


.body {
    & {
        &::-webkit-scrollbar {background: #1C1C28;}
        &::-webkit-scrollbar-button {background: #818181;}
        &::-webkit-scrollbar-button:active {background: $basic-grey;}
        &::-webkit-scrollbar-thumb {background: #818181;}
        &::-webkit-scrollbar-thumb:active {background: $basic-grey;}
    }
}

// header section

.header {
    display: block;
    .header__wrapper {
        display: block;
        .header__wrapper__container {
            display: flex;
            flex-flow: column;
            .nav {
                background: rgb(242 242 242);
                max-height: 320px;
                .nav__top-list {
                    display: flex;
                    flex-flow: row;
                    height: 42px;
                    background: $top-navbar-bg-color;
                    padding: $padding;
                    button, input {
                        height: 42px;
                        font-size: 18px;
                    }
                    li:nth-child(1) {
                        .home-logo {
                            .home-logo__btn {
                                background: {
                                    image: url(/assets/photos/symbols/logo-technomart.svg);
                                    repeat: no-repeat;
                                    position: center;
                                }
                                width: 220px;
                                height: 47px;
                                border-bottom: 5px solid $button-active;
                            }
                        }
                    }
                    li:nth-child(2) {
                        .nav__top-list__form {
                            input[type="search"] {
                                all: unset;
                                width: 219px;
                                height: 42px;
                                background: none;
                                font-family: "Cuprum", sans-serif;
                                color: white;
                                padding: 0px 0px 0px 42px;
                                background: {
                                    image: url(/assets/photos/symbols//icon-search\ покой.svg);
                                    repeat: no-repeat;
                                    position: 17px 12px;
                                }
                                &::placeholder {
                                    color: $basic-white;
                                }
                                &:hover {
                                    transition: all 0.3s linear;
                                    background: {
                                        image: url(/assets/photos/symbols/icon-search.svg);
                                    }
                                }
                                &:focus {
                                    color: $basic-black;
                                    &::placeholder {
                                        color: $basic-black;
                                    }
                                    background: {
                                        color: $basic-white;
                                        image: url(/assets/photos/symbols/icon-search\ active.svg);
                                    }
                                }
                            }
                        }
                    }
                    li:nth-child(3),
                    li:nth-child(4) {
                        .zakladki-bgcolor,
                        .korzina-bgcolor {
                            span {
                                position: relative;
                                left: 15px;
                                top: 1px;
                            }
                            background: none;
                            background: {
                                repeat: no-repeat;
                                position: 29px 13px;
                            }
                            width: 155px;
                            &:hover {
                                transition: all 0.3s ease;
                                background: $top-nav-btn-hover;
                                background: {
                                    repeat: no-repeat;
                                    position: 29px 13px;
                                }
                            }
                            &:active {
                                color: $top-nav-btn-f-color-active;
                                background: $top-nav-btn-active;
                                background: {
                                    repeat: no-repeat;
                                    position: 29px 13px;
                                }
                            }
                        }
                    }
                    li:nth-child(3) {
                        .zakladki-bgcolor {
                            span {
                                position: relative;
                                left: 16px;
                                top: 1px;
                            }
                            background-image: url(/assets/photos/symbols/icon-bookmark\ покой.svg);
                            &:hover {
                                background-image: url(/assets/photos/symbols/icon-bookmark.svg);
                            }
                            &:active {
                                background-image: url(/assets/photos/symbols/icon-bookmark-active.svg);
                            }
                        }
                    }
                    li:nth-child(4) {
                        .korzina-bgcolor {
                            span {
                                position: relative;
                                left: 13px;
                                top: 1px;
                            }
                            background-image: url(/assets/photos/symbols/icon-cart\ покой.svg);
                            &:hover {
                                background-image: url(/assets/photos/symbols/icon-cart.svg);
                            }
                            &:active {
                                background-image: url(/assets/photos/symbols/icon-cart-active.svg);
                            }
                        }
                    }
                    li:nth-child(5) {
                        >.nav__top-list__link {
                            .confirm-purchase-bgcolor {
                                background: {
                                    color: $basic-green;
                                }
                                width: 149px;
                                &:hover {
                                    background: {
                                        color: $success;
                                    }
                                }
                                &:active {
                                    color: $top-nav-btn-f-color-active;
                                }
                                span {
                                    position: relative;
                                    left: 1px;
                                    top: 1px;
                                }
                            }
                        }
                    }
                }
                .nav__middle-list {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    padding: $padding;
                    height: 157px;
                    li:nth-child(1) {
                        .nav__middle-list__title {
                            color: $basic-red;
                            line-height: 23px;
                            width: 200px;
                            position: relative;
                            left: 31px;
                            top: 0px;
                            font: {
                                family: $f-family-cuprum;
                                style: italic;
                                size: 16px;
                                weight: 400;
                            }
                        }
                    }
                    li:nth-child(2) {
                        width: 70%;
                        .nav__middle-list__link {
                            position: relative;
                            left: 121px;
                            top: 1px;
                            display: flex;
                            flex-flow: column;
                            background: {
                                image: url(/assets/photos/symbols/icon-phone.svg);
                                repeat: no-repeat;
                                position: 38px 14px;
                            }
                            .tel-link {
                                background: none;
                                border: 3px solid $basic-white;
                                color: $basic-red;
                                width: 270px;
                                height: 45px;
                                line-height: 30px;
                                font: {
                                    weight: 700;
                                    size: 21px;
                                }
                                span {
                                    position: relative;
                                    left: 13px;
                                    top: 0px;
                                }
                            }
                            .office-location {
                                position: relative;
                                left: 0px;
                                top: 4px;
                                width: 270px;
                                line-height: 24px;
                                color: $bottom-navbar-bg-color;
                                text-align: center;
                                font: {
                                    family: $f-family-cuprum;
                                    size: 14px;
                                    weight: 400;
                                }
                            }
                        }
                    }
                    li:nth-child(3),
                    li:nth-child(4) {
                        .nav__middle-list__link {
                            position: relative;
                            left: 0px;
                            top: -11px;
                            .login-link,
                            .register-link {
                                background: $basic-white;
                                color: $basic-black;
                                height: 45px;
                                font-size: 21px;
                                &:hover {
                                    color: $basic-red;
                                }
                                &:active {
                                    color: $basic-greylight;
                                }
                            }
                        }
                    }
                    li:nth-child(3) {
                        margin-right: 10px;
                        .nav__middle-list__link {
                            .login-link {
                                width: 121px;
                                background: {
                                    image: url(/assets/photos/symbols/icon-login.svg);
                                    repeat: no-repeat;
                                    position: 19px 15px;
                                }
                                &:hover {
                                    background-image: url(/assets/photos/symbols/icon-login-hover.svg);
                                }
                                &:active {
                                    background-image: url(/assets/photos/symbols/icon-login.svg);
                                }
                                span {
                                    position: relative;
                                    left: 9px;
                                    top: 0px;
                                }
                            }
                        }
                    }
                    li:nth-child(4) {
                        .nav__middle-list__link {
                            .register-link {
                                width: 150px;
                            }
                        }
                    }

                }
                .nav__bottom-list {
                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    padding: $padding;
                    li {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                background: $bottom-navbar-bg-color;
                                color: $basic-white;
                                width: 100px;
                                height: 60px;
                                font-size: 18px;
                                line-height: 24px;
                                border-bottom: 4px solid $top-nav-btn-active;
                                text-align: center;
                                &:hover {
                                    background: $top-navbar-bg-color;
                                }
                                &:active {
                                    color: $basic-greylight;
                                }
                                span {
                                    position: relative;
                                    top: 0px;
                                }
                            }
                        }
                    }
                    li:nth-child(1) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 135px;
                                span {
                                    top: 0px;
                                    left: 14px;
                                }
                            }
                        }
                    }
                    li:nth-child(2) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 130px;
                                span {
                                    top: 0px;
                                    left: 0px;
                                }
                            }
                        }
                    }
                    li:nth-child(3) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 104px;
                                span {
                                    top: 0px;
                                    left: 3px;
                                }
                            }
                        }
                    }
                    li:nth-child(4) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 117px;
                                span {
                                    top: 0px;
                                    left: 4px;
                                }
                            }
                        }
                    }
                    li:nth-child(5) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 189px;
                                span {
                                    top: 0px;
                                    left: 0px;
                                }
                            }
                        }
                    }
                    li:nth-child(6) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 134px;
                                span {
                                    top: 0px;
                                    left: -9px;
                                }
                            }
                        }
                    }
                    li:nth-child(7) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 130px;
                                span {
                                    top: 0px;
                                    left: -21px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    .footer__wrapper {
        display: flex;
        flex-flow: column;
        .footer__wrapper__section-1,
        .footer__wrapper__section-2 {
            display: flex;
            padding: $padding;
            a {
                font-family: $f-family-cuprum;
                &:hover {
                    transition: all 0.3s ease;
                    text-decoration: underline;
                }
                &:active {
                    filter: opacity(0.3);
                    text-decoration: none;
                }
            }
        }
        .footer__wrapper__section-1 {
            flex-flow: row;
            min-height: 195px;
            background: $bottom-navbar-bg-color;
            .footer__wrapper__section-1__left-block {
                width: 38%;
                min-height: 191px;
                display: flex;
                flex-flow: column;
                .footer__wrapper__section-1__left-block__home {
                    margin-bottom: 24px;
                    .footer__wrapper__section-1__left-block__home__btn {
                        background: {
                            image: url(/assets/photos/symbols/logo-technomart.svg);
                            repeat: no-repeat;
                            size: 63%;
                            position: center;
                        }
                        width: 220px;
                        height: 68px;
                        border-bottom: 5px solid $button-active;
                    }
                }
                .office-address {
                    color: $basic-white;
                    line-height: 24px;
                    font: {
                        family: $f-family-cuprum;
                        style: normal;
                        font-weight: 400;
                        size: 18px;
                    }
                }
            }
            .footer__wrapper__section-1__right-block {
                width: 62%;
                display: flex;
                flex-flow: column;
                row-gap: 35px;
                padding-top: 38px;
                .footer__wrapper__section-1__right-block__top-list,
                .footer__wrapper__section-1__right-block__bottom-list {
                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                }
                .footer__wrapper__section-1__right-block__top-list {
                    column-gap: 57px;
                    row-gap: 0px;
                    margin-left: 36px;
                    li {
                        .footer__wrapper__section-1__right-block__top-list__link {
                            color: $basic-white;
                        }
                    }
                }
                .footer__wrapper__section-1__right-block__bottom-list {
                    column-gap: 57px;
                    row-gap: 0px;
                    margin-left: 59px;
                    margin-bottom: 50px;
                    li {
                        .footer__wrapper__section-1__right-block__bottom-list__link {
                            color: $special-yellowlight;
                        }
                    }
                }
            }
        }
        .footer__wrapper__section-2 {
            flex-flow: row;
            height: 110px;
            background: $top-navbar-bg-color;
            line-height: 18px;
            font: {
                family: $f-family-cuprum;
                size: 16px;
            }
            color: $basic-white;
            a {
                color: $special-yellowlight;
                &:active {
                    filter: opacity(1);
                    color: $basic-red;
                }
            }
            .blocks-style {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                height: 100%;
                width: 25%;
                .lists-style {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: center;
                }
            }
            .footer__wrapper__section-2__block-1 {
                align-items: center;
                span {
                    margin-bottom: 2px;
                }
            }
            .footer__wrapper__section-2__block-2 {
                width: 43%;
                justify-content: center;
                .footer__wrapper__section-2__block-2__social-media-list {
                    column-gap: 1px;
                    li {
                        .footer__wrapper__section-2__block-2__social-media-list__link {
                            .footer__wrapper__section-2__block-2__social-media-list__link__btn {
                                position: relative;
                                left: 19px;
                                top: 3px;
                                width: 44px;
                                height: 44px;
                                border-radius: 50%;
                                border: none;
                                background: {
                                    color: $footer-social-media-links;
                                    repeat: no-repeat;
                                    position: center;
                                }
                                &:hover {
                                    transition: all 0.3s ease-in;
                                    cursor: pointer;
                                    background: {
                                        color: $basic-red;
                                    }
                                }
                                &:active {
                                    filter: opacity(0.5);
                                }
                            }
                        }
                    }
                    li:nth-child(1) {
                        .footer__wrapper__section-2__block-2__social-media-list__link {
                            .footer__wrapper__section-2__block-2__social-media-list__link__btn {
                                background-image: url(/assets/photos/social\ media\ icons/icon-vk.svg);
                            }
                        }
                    }
                    li:nth-child(2) {
                        .footer__wrapper__section-2__block-2__social-media-list__link {
                            .footer__wrapper__section-2__block-2__social-media-list__link__btn {
                                background-image: url(/assets/photos/social\ media\ icons/icon-fb.svg);
                            }
                        }
                    }
                    li:nth-child(3) {
                        .footer__wrapper__section-2__block-2__social-media-list__link {
                            .footer__wrapper__section-2__block-2__social-media-list__link__btn {
                                background-image: url(/assets/photos/social\ media\ icons/icon-insta.svg);
                            }
                        }
                    }
                }
            }
            .footer__wrapper__section-2__block-3 {
                width: 32%;
                .footer__wrapper__section-2__block-3__contact-list {
                    column-gap: 50px;
                    margin-top: -4px;
                }
            }
        }
    }
}



