// -> font-family
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// -> color styles

$basic-red: #EE3643;
$basic-black: #000000;
$basic-green: #63A63E;
$basic-grey: #3D546F;
$basic-greylight: #C5C5C5;
$basic-background: #F1F5F7;
$basic-white: #FFFFFF;
$special-yellow: #FFBF47;
$special-blue: #3BBCE3;
$special-lilac: #DC91D8;
$special-greenlight: #8ED78F;
$special-yellowlight: #FFD180;
$special-greylight: #EAEAEA;
$success: #5FBB2D;
$warning: #FFBF47;
$error: #BA2732;
$top-navbar-bg-color: #293449;
$bottom-navbar-bg-color: #32425C;
$bottom-navbar-box-shadow: inset 0px -5px 0px #293449;
$middle-bottom-navbar-bg-color: rgba(0, 0, 0, 0.0001);
$button-hover: #CA2C37;
$button-active: #BA2732;
$buy-button-bgcolor-active: #518534;
$past-cost-color: #A9A9A9;
$second-con-bg-color: #F9F5F0;

// ----------------------------- //

// -> other styles

$padding: 0px calc(50% - 470px);
$f-family-cuprum: 'Cuprum', sans-serif;
$f-family-ptsans: 'PT Sans', sans-serif;
$title-font-size: 24px;
$default-font-size: 18px;
$default-font-weight: 400;
$default-font-style: normal;



// ----------------------------- //

// default tag styles

.input-default, .button-default {
    width: 192px;
    height: 38px;
    background: $basic-red;
    color: $basic-white;
    border: none;
    cursor: pointer;
    font: {
        family: 'Cuprum';
        weight: 400;
        size: 14px;
    }
    line-height: 18px;
}

.input-default, .button-default {
    &:hover {
        transition: all 0.3s ease;
        background: $button-hover;
    }

    &:active {
        background: $button-active;
    }
}

// header and footer code will be placed here

* {
    padding: 0;
    margin: 0;
}

html {
    background: $basic-background;
    color: $basic-black;
    
    font: {
        family: $f-family-ptsans;
        size: $default-font-size;
        weight: $default-font-weight;
        style: $default-font-style;
    }

    h1,h2,h3,h4,h5,h6 {
        font-size: $title-font-size;
    }

    ul, ol {
        list-style: {
            type: none;
        }
    }
    
    a {
        color: $basic-green;
        text-decoration: none;
    }
}


.body {
    & {
        &::-webkit-scrollbar {
            background: #1C1C28;
        }

        &::-webkit-scrollbar-button {
            background: #818181;
        }

        &::-webkit-scrollbar-button:active {
            background: $basic-grey;
        }

        &::-webkit-scrollbar-thumb {
            background: #818181;
        }

        &::-webkit-scrollbar-thumb:active {
            background: $basic-grey;
        }
    }
}

// header section



// end of header section





