// -> font-family
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// -> color styles

$basic-red: #EE3643;
$basic-black: #000000;
$basic-green: #63A63E;
$basic-grey: #3D546F;
$basic-greylight: #C5C5C5;
$basic-background: #F1F5F7;
$basic-white: #FFFFFF;
$special-yellow: #FFBF47;
$special-blue: #3BBCE3;
$special-lilac: #DC91D8;
$special-greenlight: #8ED78F;
$special-yellowlight: #FFD180;
$special-greylight: #EAEAEA;
$success: #5FBB2D;
$warning: #FFBF47;
$error: #BA2732;
$top-navbar-bg-color: #293449;
$bottom-navbar-bg-color: #32425C;
$bottom-navbar-box-shadow: inset 0px -5px 0px #293449;
$middle-bottom-navbar-bg-color: rgba(0, 0, 0, 0.0001);
$button-hover: #CA2C37;
$button-active: #BA2732;
$buy-button-bgcolor-active: #518534;
$past-cost-color: #A9A9A9;
$second-con-bg-color: #F9F5F0;
$top-nav-btn-hover: #242f42;
$top-nav-btn-active: #161D29;
$top-nav-btn-f-color-active: rgba(255, 255, 255, 0.5);

// ----------------------------- //

// -> other styles

$padding: 0px calc(50% - 470px);
$f-family-cuprum: 'Cuprum', sans-serif;
$f-family-ptsans: 'PT Sans', sans-serif;
$title-font-size: 24px;
$default-font-size: 18px;
$default-font-weight: 400;
$default-font-style: normal;



// ----------------------------- //

// default tag styles

.input-default, .button-default {
    width: 192px;
    height: 38px;
    background: $basic-red;
    color: $basic-white;
    border: none;
    cursor: pointer;
    font: {
        family: 'Cuprum';
        weight: 400;
        size: 14px;
    }
    line-height: 18px;
}

.input-default, .button-default {
    &:hover {
        transition: all 0.3s ease;
        background: $button-hover;
    }

    &:active {
        background: $button-active;
    }
}

// header and footer code will be placed here

* {
    padding: 0;
    margin: 0;
}

html {
    background: $basic-background;
    color: $basic-black;
    
    font: {
        family: $f-family-ptsans;
        size: $default-font-size;
        weight: $default-font-weight;
        style: $default-font-style;
    }

    h1,h2,h3,h4,h5,h6 {
        font-size: $title-font-size;
    }

    ul, ol {
        list-style: {
            type: none;
        }
    }
    
    a {
        color: $basic-green;
        text-decoration: none;
    }
}


.body {
    & {
        &::-webkit-scrollbar {
            background: #1C1C28;
        }

        &::-webkit-scrollbar-button {
            background: #818181;
        }

        &::-webkit-scrollbar-button:active {
            background: $basic-grey;
        }

        &::-webkit-scrollbar-thumb {
            background: #818181;
        }

        &::-webkit-scrollbar-thumb:active {
            background: $basic-grey;
        }
    }
}

// header section

.header {
    display: block;

    .header__wrapper {
        display: block;

        .header__wrapper__container {
            display: flex;
            flex-flow: column;

            .nav {
                background: rgb(242 242 242);
                max-height: 320px;

                .nav__top-list {
                    display: flex;
                    flex-flow: row;
                    height: 42px;
                    background: $top-navbar-bg-color;
                    padding: $padding;

                    button, input {
                        height: 42px;
                        font-size: 18px;
                    }

                    li:nth-child(1) {
                        .home-logo {
                            .home-logo__btn {
                                background: {
                                    image: url(/assets/photos/symbols/logo-technomart.svg);
                                    repeat: no-repeat;
                                    position: center;
                                }
                                width: 220px;
                                height: 47px;
                                border-bottom: 5px solid $button-active;
                            }
                        }
                    }

                    li:nth-child(2) {
                        .nav__top-list__form {
                            input[type="search"] {
                                all: unset;
                                width: 219px;
                                height: 42px;
                                background: none;
                                font-family: "Cuprum", sans-serif;
                                color: white;
                                padding: 0px 0px 0px 42px;
                                background: {
                                    image: url(/assets/photos/symbols//icon-search\ покой.svg);
                                    repeat: no-repeat;
                                    position: 17px 12px;
                                }

                                &::placeholder {
                                    color: $basic-white;
                                }

                                &:hover {
                                    transition: all 0.3s linear;
                                    background: {
                                        image: url(/assets/photos/symbols/icon-search.svg);
                                    }
                                }

                                &:focus {
                                    color: $basic-black;
                                    &::placeholder {
                                        color: $basic-black;
                                    }
                                    background: {
                                        color: $basic-white;
                                        image: url(/assets/photos/symbols/icon-search\ active.svg);
                                    }
                                }
                            }
                        }
                    }

                    li:nth-child(3),
                    li:nth-child(4) {
                        .zakladki-bgcolor,
                        .korzina-bgcolor {

                            span {
                                position: relative;
                                left: 15px;
                                top: 1px;
                            }

                            background: none;
                            background: {
                                repeat: no-repeat;
                                position: 29px 13px;
                            }

                            width: 155px;

                            &:hover {
                                transition: all 0.3s ease;
                                background: $top-nav-btn-hover;
                                background: {
                                    repeat: no-repeat;
                                    position: 29px 13px;
                                }
                            }

                            &:active {
                                color: $top-nav-btn-f-color-active;
                                background: $top-nav-btn-active;
                                background: {
                                    repeat: no-repeat;
                                    position: 29px 13px;
                                }
                            }
                        }
                    }

                    li:nth-child(3) {
                        .zakladki-bgcolor {
                            span {
                                position: relative;
                                left: 16px;
                                top: 1px;
                            }

                            background-image: url(/assets/photos/symbols/icon-bookmark\ покой.svg);

                            &:hover {
                                background-image: url(/assets/photos/symbols/icon-bookmark.svg);
                            }

                            &:active {
                                background-image: url(/assets/photos/symbols/icon-bookmark-active.svg);
                            }
                        }
                    }

                    li:nth-child(4) {
                        .korzina-bgcolor {
                            span {
                                position: relative;
                                left: 13px;
                                top: 1px;
                            }

                            background-image: url(/assets/photos/symbols/icon-cart\ покой.svg);

                            &:hover {
                                background-image: url(/assets/photos/symbols/icon-cart.svg);
                            }

                            &:active {
                                background-image: url(/assets/photos/symbols/icon-cart-active.svg);
                            }
                        }
                    }

                    li:nth-child(5) {
                        >.nav__top-list__link {
                            .confirm-purchase-bgcolor {
                                background: {
                                    color: $basic-green;
                                }
                                width: 149px;

                                &:hover {
                                    background: {
                                        color: $success;
                                    }
                                }

                                &:active {
                                    color: $top-nav-btn-f-color-active;
                                }

                                span {
                                    position: relative;
                                    left: 1px;
                                    top: 1px;
                                }
                            }
                        }
                    }
                }

                .nav__middle-list {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    padding: $padding;
                    height: 157px;

                    li:nth-child(1) {
                        .nav__middle-list__title {
                            color: $basic-red;
                            line-height: 23px;
                            width: 200px;
                            position: relative;
                            left: 31px;
                            top: 0px;
                            font: {
                                family: $f-family-cuprum;
                                style: italic;
                                size: 16px;
                                weight: 400;
                            }
                        }
                    }

                    li:nth-child(2) {
                        width: 70%;
                        .nav__middle-list__link {
                            position: relative;
                            left: 121px;
                            top: 1px;
                            display: flex;
                            flex-flow: column;
                            background: {
                                image: url(/assets/photos/symbols/icon-phone.svg);
                                repeat: no-repeat;
                                position: 38px 14px;
                            }
                            .tel-link {
                                background: none;
                                border: 3px solid $basic-white;
                                color: $basic-red;
                                width: 270px;
                                height: 45px;
                                line-height: 30px;
                                font: {
                                    weight: 700;
                                    size: 21px;
                                }
                                span {
                                    position: relative;
                                    left: 13px;
                                    top: 0px;
                                }
                            }
                            .office-location {
                                position: relative;
                                left: 0px;
                                top: 4px;
                                width: 270px;
                                line-height: 24px;
                                color: $bottom-navbar-bg-color;
                                text-align: center;
                                font: {
                                    family: $f-family-cuprum;
                                    size: 14px;
                                    weight: 400;
                                }
                            }
                        }
                    }

                    li:nth-child(3),
                    li:nth-child(4) {
                        .nav__middle-list__link {
                            position: relative;
                            left: 0px;
                            top: -11px;
                            .login-link,
                            .register-link {
                                background: $basic-white;
                                color: $basic-black;
                                height: 45px;
                                font: {
                                    size: 21px;
                                }

                                &:active {
                                    color: $basic-greylight;
                                }
                            }
                        }
                    }

                    li:nth-child(3) {
                        margin-right: 10px;
                        .nav__middle-list__link {
                            .login-link {
                                width: 121px;
                                background: {
                                    image: url(/assets/photos/symbols/icon-login.svg);
                                    repeat: no-repeat;
                                    position: 19px 15px;
                                }

                                &:hover {
                                    background-image: url(/assets/photos/symbols/icon-login-hover.svg);
                                }
                                
                                &:active {
                                    background-image: url(/assets/photos/symbols/icon-login.svg);
                                }

                                span {
                                    position: relative;
                                    left: 9px;
                                    top: 0px;
                                }
                            }
                        }
                    }

                    li:nth-child(4) {
                        .nav__middle-list__link {
                            .register-link {
                                width: 150px;
                            }
                        }
                    }

                }

                .nav__bottom-list {
                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    padding: $padding;

                    li {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                background: $bottom-navbar-bg-color;
                                color: $basic-white;
                                width: 134px;
                                height: 60px;
                                font-size: 18px;
                                line-height: 24px;
                                border-bottom: 4px solid $top-nav-btn-active;
                                text-align: center;

                                &:hover {
                                    background: $top-navbar-bg-color;
                                }
                                &:active {
                                    color: $basic-greylight;
                                }

                                span {
                                    position: relative;
                                    top: 0px;
                                }
                            }
                        }
                    }

                    li:nth-child(1) {
                        .nav__bottom-list__link {
                            .nav__bottom-list__link__btn {
                                width: 150px;

                                span {
                                    left: 0px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}





